
@{
    ViewBag.Title = "Index";
}

<h2>Hospital</h2>
<div class="main-menu-bottom">
    @Html.ActionLink("Doctors", "Index", "Doctors")    
</div>
<div class="main-menu-bottom">
    @Html.ActionLink("Patients", "Index", "Patients")
</div>

